<!-- <div class="container-fluid">
    <div class="container shadow">
        <div class="pt-5 border-light rounded">
            <h6>Activities To-Do</h6>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <p>Clique para Adicionar uma nova lista</p>
                    <button
                        type="submit"
                        mat-mini-fab
                        style="background-color: green; color: white;"
                        aria-label="Example icon button with a menu icon"
                        (click)="openDialog()"
                    >
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="body">
            <!-- <div class="example-action-buttons">
                <button
                    mat-button
                    (click)="accordion.openAll()"
                >
                    Expand All
                </button>
                <button
                    mat-button
                    (click)="accordion.closeAll()"
                >
                    Collapse All
                </button>
            </div> -->
<!-- <mat-accordion
                class="example-headers-align"
                multi
            >
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Personal data</mat-panel-title>
                        <mat-panel-description>
                            Type your name and age
                            <mat-icon>account_circle</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <mat-accordion
                        class="example-headers-align"
                        multi
                    >
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Personal data</mat-panel-title>
                                <mat-panel-description>
                                    Type your name and age
                                    <mat-icon>account_circle</mat-icon>
                                </mat-panel-description>
                            </mat-expansion-panel-header>

                            <mat-form-field appearance="fill">
                                <mat-label>First name</mat-label>
                                <input matInput>
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Age</mat-label>
                                <input
                                    matInput
                                    type="number"
                                    min="1"
                                >
                            </mat-form-field>

                        </mat-expansion-panel>
                    </mat-accordion>

                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div> -->

<img
    src="../../../../assets/outservice.jpg"
    alt="outservice"
    width="100%"
    height="100%"
>
